@import "modal/modal";

@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 1.7rem !important;
  }
}

@media screen and (max-width: 400px) {
  .notie-textbox {
    padding: 1.2rem !important;
  }
  .notie-button,
  .notie-element {
    padding: 0.8rem 1rem !important;
  }
}

:root {
  --primary-color: #ffa639;
  --lightest-color: #fffcdd;
  --second-color: #6f7c12;

  --dark-primary-color: #1e1e1e;
  --dark-light-primary: #9378c9;
  --dark-lightest-color: #252629;
  --dark-second-color: #4a1096;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;

  @media (max-width: 960px) {
    font-size: 58%;
  }
}

body {
  background-color: var(--lightest-color);
  color: #333;
  line-height: 1.6;
  min-height: 100dvh;
  transition: 0.4s ease;

  &.dark-mode {
    background-color: #252629;
    color: #e0e0e0;

    & .header {
      background-color: var(--dark-primary-color);
      color: var(--dark-light-primary);
    }

    & #home-into {
      & .box-input {
        color: var(--dark-light-primary);
        & #movie-name {
          background-color: #2c3246;
          color: #e0e0e0;
          border: 1px solid var(--dark-light-primary) !important;
          &:focus {
            outline-color: #9378c9; /* Remove o contorno padrão */
          }
        }

        & .btn-search {
          color: var(--dark-light-primary);
          border: 2px solid var(--dark-light-primary);

          &:hover {
            background-color: #7a668754;
          }
        }
      }
    }

    & #movie-list {
      & article {
        &:hover {
          box-shadow: 0px 0 10px 5px #9575cd;
        }
        .btn-remove {
          border: 2px solid var(--dark-second-color);
          color: var(--dark-light-primary);
          background-color: var(--dark-primary-color);
          box-shadow: 1px 1px 10px #00000088;
          font-weight: bold;

          &:hover,
          :active {
            background-color: #60337e54;
            border: 1px solid var(--dark-light-primary);
            color: #e0e0e0;
          }
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--lightest-color);
  padding: 2px 20px;
  transition: 0.4s ease-in-out;
  outline: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }

  @media (max-width: 600px) {
    padding: 2px 20px;
  }

  & .logo {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 600px) {
      flex-flow: column;
      font-size: 14px;
      gap: 0;
      padding: 0;
    }
  }

  & .bi-brightness-high-fill,
  .bi-moon-stars-fill {
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
    cursor: pointer;

    @media (max-width: 600px) {
      font-size: 17px;
      padding: 0;
    }
  }
}

main {
  & #home-into {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    & h1 {
      font-size: 2rem;
      padding-bottom: 1rem;
    }

    & p {
      font-size: 1.6rem;
    }

    & .box-input {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      color: var(--primary-color);

      & .input-name {
        display: flex;
        gap: 1rem;
        font-weight: 600;
        font-size: 1.8rem;

        @media (max-width: 600px) {
          font-size: 1.8rem;
          align-items: center;
          height: 17px;
        }

        & #movie-name {
          max-width: 22rem;
          border-radius: 0.5rem;
          border: 1px solid var(--primary-color);
          padding: 0.6rem;

          @media (max-width: 600px) {
            max-width: 14rem;
            height: 20px;
          }
        }
      }
      & .btn-search {
        width: 3rem;
        height: 3rem;
        padding: 2px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        color: var(--primary-color);

        &:hover,
        &:active {
          background-color: var(--light-primary);
          cursor: pointer;
        }

        @media (max-width: 600px) {
          font-size: 12px;
          height: 22px;
          width: auto;
          align-items: center;
        }
      }
    }
  }

  #movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 2rem;

    & article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 16rem;
      padding: 2px;

      @media (max-width: 960px) {
        max-width: 15rem;
      }
      @media (max-width: 490px) {
        max-width: 14rem;
      }

      &:hover,
      &:active {
        transform: matrix(1.03, 0, 0, 1.05, 0, 0.9);
        transition: 0.5s cubic-bezier(0.15, 0.36, 0.85, 1.34);
        box-shadow: 0px 0 10px 5px #ffb300;
        border-radius: 1rem;
      }

      & img {
        border-radius: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
      }

      & .btn-remove {
        padding: 2px;
        border: 2px solid var(--second-color);
        border-radius: 5px;
        color: var(--second-color);
        box-shadow: 1px 1px 10px #00000088;
        font-weight: bold;
        margin-bottom: 1px;

        &:hover {
          background-color: #707c1281;
          color: var(--lightest-color);
          cursor: pointer;
        }

        @media (max-width: 960px) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
